@keyframes loading {
    0% { transform: none;}
    100% { transform: rotate(360deg); }
  }
.loading{
    width: 5em;
    height: 5em;
    position: absolute;
    top:50%;
    left:50%;
    animation: loading 1s infinite;
}